.photo {
  position: relative;
  flex: 0 1 300px;
  height: 450px;
  background: var(--white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.img {
  align-self: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.linkPhoto {
  position: absolute;
  inset: 0;
}

.content {
  z-index: 2;
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 10px;
}
