.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 20px;
}

.end {
  width: 100%;
  height: 45px;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  height: 45px;
  border-radius: 8px;
  outline: none;
  background-color: var(--orange);
  color: var(--white);
  border: 1px solid transparent;
  margin-bottom: 20px;
}

.btn:hover {
  background-color: var(--blue);
}

.btn:focus {
  border-color: var(--blue);
}

.btn:active {
  background-color: var(--green);
  border-color: var(--green);
}


