.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--blue);
  z-index: 10;
}

.container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
